@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--primary-color: #232946;
	--secondary-color: #efbcc7;
	--grey: #a4a3a6;
	--bg: var(--primary-color);
}
body {
	font-family: 'Poppins', sans-serif;
	background: var(--primary-color);
}
section {
	min-height: 100vh;
}
@for $i from 1 through 10 {
	.mt-#{$i} {
		margin-top: $i * 4px;
	}
	.mb-#{$i} {
		margin-bottom: $i * 4px;
	}
	.ml-#{$i} {
		margin-left: $i * 4px;
	}
	.mr-#{$i} {
		margin-right: $i * 4px;
	}
}
.flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}
.main-con {
	display: flex;
	flex-direction: column;
	width: min(800px, 100vw);
	margin-top: 5rem;
}
.top-con {
	display: flex;
	gap: 2rem;
}
.left-con {
	flex: 1;
}
.left-con h1 {
	font-size: 2rem;
	color: #fff;
	line-height: 100%;
}
.left-con p {
	color: var(--grey);
	font-size: 14px;
	line-height: 200%;
}
.right-con {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.label {
	font-size: 12px;
	color: var(--grey);
}
input[type='text'] {
	border-radius: 5px;
	height: 40px;
	outline: none;
	border: none;
	padding: 0 10px;
}
.submit-btn {
	height: 40px;
	outline: none;
	border: none;
	color: var(--primary-color);
	background: var(--secondary-color);
	font-weight: 900;
	border-radius: 5px;
	cursor: pointer;
}
.bottom-con {
	width: 100%;
}
.images-con {
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
	gap: 25px;
}
.image-con {
	height: 200px;
	border-radius: 10px;
	position: relative;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	isolation: isolate;
}
.image-con > img {
	width: 100%;
	// height: auto;
}
.cross-btn {
	position: absolute;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	background: #fff;
	color: var(--grey);
	border-radius: 50%;
	right: 0;
	top: 0;
	translate: 50% -50%;
	cursor: pointer;
}
.modal {
	position: fixed;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.624);
	display: flex;
	justify-content: center;
	align-items: center;
}
.modal iframe {
	width: 70%;
	aspect-ratio: 16 /9;
}
